//$btncolor: #f48498;
$btncolor: #d8572a;

.btn {
    background-color: $btncolor;
    color: $bgcolor;
    font-family: $font2;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 25%;
    width: 104px;
    height: 36;
    border: none;
    display: block;
}

//.btn-primary:hover,
// .btn-primary{
// 	color:#9a031e;
// 	background-color: #94b394;
// }
.btn-primary:hover{
	background-color: #faf5f0;
	color: #d8572a;
}




.fa-facebook-square {
    color: #3b5998;
    padding: 5px;
    font-size: 1.5em;
}