//$btncolor: #f48498;
$btncolor: #d8572a;

.btn {
    background-color: $btncolor;
    color: $bgcolor;
    font-family: $font2;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 25%;
    width: 104px;
    height: 36;
    border: none;
    display: block;
    text-decoration: none;
    }

//.btn-primary:hover,
// .btn-primary{
// 	color:#9a031e;
// 	background-color: #94b394;
// }
.btn-primary:hover{
	background-color: $bgcolor;
    color: $btncolor;
    text-decoration: none;
}

  .cart{
    .btnShopping{
        width: fit-content;
    }
    .btn-primary:hover:hover{
          color: $popcolor;
          background-color: $btncolor;
    }
}

 .productPage{
     .btnShopping{
         width: fit-content;
     }
     .btn-primary:hover:hover{
           color: $popcolor;
           background-color: $btncolor;
    }
 }

 .btn-lg{
     width: fit-content;
     margin-left: 300px;
 }
   .btn-lg:hover:hover{
    color: $popcolor;
    background-color: $btncolor;
   }  
    

