@import 'theme';
@import 'navbar';
@import 'btn';
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Parisienne&display=swap" rel="stylesheet');
@import url('https://fonts.gstatic.com'); 
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@900&display=swap" rel="stylesheet');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@900&family=Space+Grotesk:wght@500&display=swap" rel="stylesheet');


.header {
  width: fit-content;
    display: inline-block;
    margin-left: 50px;
}

h1 {
  font-size: 60px; 
  margin-bottom: 5px;
  
}

h2{
  font-size: 30px;
  text-align: center;
}




