/*brandcolor is font color*/
$brandcolor: #d8572a;
$bgcolor: #f3e1cb;
$popcolor: #468189;
$font1: 'Big Shoulders Stencil Display' cursive;
$font2: 'Space Grotesk', sans-serif;


body {
    background-color: $bgcolor;
    font-family: $font1;
    }

h1,h2,h3,h4,h5,h6 {
    color: $brandcolor;
}

form.help{
    margin: 50px 125px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #468189;
    background-color: #f1edea;
    color: $popcolor;
}

.products {
    margin: 20px;
    border: 1px solid #faf5f0;
    margin: 20px;
    background-color: #5b4b40;
    padding-bottom: 20px;
    img {
        width: 200px;
        padding-top: 25px;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    h4 {
        text-align: center;
        font-size: 1em;
        padding-top: 10px;
        margin-bottom: 0;
        color: #faf5f0;
    }
    p {
        text-align: center;
        color: #faf5f0;
        margin: 0;
        padding-bottom: 10px;
    }
    .btn {
        text-align: center;
        margin: auto;
    }
}