/*brandcolor is font color*/
$brandcolor: #d8572a;
$bgcolor: #f3e1cb;
$popcolor: #468189;
$font1: 'Big Shoulders Stencil Display' cursive;
$font2: 'Space Grotesk', sans-serif;


body {
    background-color: $bgcolor;
    font-family: $font1;
    }

h1,h2,h3,h4,h5,h6 {
    color: $brandcolor;
}

form.help{
    margin: 50px 125px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #468189;
    background-color: #f1edea;
    color: $popcolor;
}
