/*brandcolor is font color*/
$brandcolor: #d8572a;
$bgcolor: #faf5f0;
$popcolor: #5b4b40;
$font1: 'Big Shoulders Stencil Display' cursive;
$font2: 'Space Grotesk', sans-serif;


body {
    background-color: $bgcolor;
    font-family: $font1;
    }

h1,h2,h3,h4,h5,h6 {
    color: $brandcolor;
}


//Home Page
.products {
    margin: 20px;
    border: 1px solid #faf5f0;
    margin: 20px;
    background-color: #5b4b40;
    padding-bottom: 20px;
    img {
        width: 200px;
        padding-top: 25px;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    h4 {
        text-align: center;
        font-size: 1em;
        padding-top: 10px;
        margin-bottom: 0;
        color: $bgcolor;
    }
    p {
        text-align: center;
        color: $bgcolor;
        margin: 0;
        padding-bottom: 10px;
    }
    .btn {
        text-align: center;
        margin: auto;
    }
}

//Product-Page
.productPage {
    margin-top: 50px;
    img {
        border: 4px solid;
    }
    h4 {
        font-size: 1.7rem;
        font-weight: bold;
        margin-bottom: 15px;
        margin-top: 10px;
       }
    .productPageCost {
        color: $brandcolor;
    } 
    .quanityWrapper{
        border: 1px solid;
        text-align: center;
        width: fit-content;
        margin: auto;
        //inline-size: fit-content;
        label {
            color: $brandcolor;
            font-size: large;
            font-weight: bold;
        }
    } 
    .productQuanity{
        border-style: hidden;
        width: 100px;
    } 
    .cartButtons{
        margin-left: 20px;
        justify-content: center;
        display: grid;
    }
    }

    //Shopping Cart Page
    .shoppingCart {
        margin-top: 50px;
        p {
            color: $brandcolor;
        }
        .cart {
            color: $popcolor;
            font-family: $font2;
        }
        .table {
            font-family: $font2;
        }
        .thumbnail {
            width: 60%;
        }
        .img-thumbnail {
            width: 20%;
            border: 1px solid $popcolor;
            margin: 0;
            padding: 0;
        }
        .thItem {
            padding-left: 35px;
        }
        .thQty {
            padding-left: 5px;
        }
        .thCost {
            padding-left: 25px;
        }
        .itemQty {
            padding-top: 41px;
        }
        .itemPrice {
            padding-top: 41px;
        }
        .priceBreakdown {
            width: fit-content;
            margin-left: 20%;
            border: solid 1px $popcolor;
            padding: 20px;
            box-shadow: 5px 5px 30px 10px $brandcolor inset;
         
        }
    }
    span.name {
            margin-left: 20px;
        }
    span.subTotal {
            margin-left: 25px;
        }
    span.taxes {
            margin-left: 45px;
        }
    span.shipping {
            margin-left: 25px;
        }
    span.grandTotal {
        margin-left: 5px;
    }    

    .form-group{
            // form{
                margin: 5px 300px;
                padding-top: 5px;
                padding-bottom: 5px;
                // border: 1px solid #468189;
                // background-color: #f1edea;
                color: $popcolor;
            label {
                font-family: $font2;
                color: $popcolor;
            }
            input {
                font-family: $font2;
                color: $brandcolor;
            }
            textarea {
                font-family: $font2;
                color: $brandcolor; 
            }
            ::placeholder {
                font-family: $font2;
                color: $brandcolor;
            }
            ::webkit-textarea-placeholder {
                font-family: $font2;
                color: $brandcolor;
            }
        }
        

    //About Page
    .about {
        margin-top: 50px;
    }

    //Contact Page

    .contact{
        margin-top: 50px;
    h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    hr {
        margin-bottom: 30px;
    }
    label {
        font-style: $font2;
        color: $popcolor;
    }
    input {
        font-style: $font2;
        color: $popcolor;
        border: 1px solid $popcolor;
    }
    textarea {
        font-style: $font2;
        color: $popcolor;
        border: 1px solid $popcolor;
    }
    .form-group{
        // margin: 50px 125px;
        // padding-top: 30px;
        // padding-bottom: 30px;
        background-color: $bgcolor;
        color: $popcolor;
        margin: 5px 300px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    button {
        margin-left: 300px;
    }
}



